@import "tailwindcss";

.react-calendar {
	width: 100% !important;
	border: none !important;
	font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
	font-weight: 600;
}

.react-calendar__tile--active {
	background-color: #c3ebfa !important;
	color: black !important;
}

.rbc-btn-group {
	display: none !important;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-lamaSky: #c3ebfa;
	--color-lamaSkyLight: #edf9fd;
	--color-lamaPurple: #cfceff;
	--color-lamaPurpleLight: #f1f0ff;
	--color-lamaYellow: #fae27c;
	--color-lamaYellowLight: #fefce8;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
